
.currentcom img {
    margin:20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.currentcom {
    margin:auto;
    padding-left:120px
}

            .row > .column {
              padding: 0 8px;
            }

            .row:after {
              content: "";
              display: table;
              clear: both;
            }

            .column {
                float:left;
                margin:3px;
                padding:0;
                height:155px;
                border:3px solid black;
                border-radius:10px;
            }


            .modal {
              display: none;
              position: fixed;
              z-index: 1;
              padding-top: 100px;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: black;
            }


            .modal-content {
              position: relative;
              background-color: rgba(0,0,0,.5);
              margin: auto;
              padding: 0;
              width: 75%;
              max-width: 1200px;
            }


            .close {
              color: white;
              position: absolute;
              top: 10px;
              right: 25px;
              font-size: 35px;
              font-weight: bold;
            }

            .close:hover,
            .close:focus {
              color: #999;
              text-decoration: none;
              cursor: pointer;
            }

            .mySlides {
              display: none;
                text-align:center;
            }


            .prev,
            .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              width: auto;
              padding: 16px;
              margin-top: -50px;
              color: black;
              font-weight: bold;
              font-size: 20px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
              -webkit-user-select: none;
                background-color:rgba(255,255,255,0.5);
            }


            .next {
              right: 0;
              border-radius: 3px 0 0 3px;
            }


            .prev:hover,
            .next:hover {
              background-color: rgba(0, 0, 0, 0.8);
                color:white;
            }


            .numbertext {
              color: #f2f2f2;
              font-size: 12px;
              padding: 8px 12px;
              position: absolute;
              top: 0;
            }

            .caption-container {
              text-align: center;
              background-color: black;
              padding: 2px 16px;
              color: white;
            }

            img.demo {
              opacity: 0.6;
            }

            .active,
            .demo:hover {
              opacity: 1;
            }

            img.hover-shadow {
              transition: 0.3s
            }

            .hover-shadow:hover {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
.menu-pics {
    max-width:900px;
    margin:auto;
}

@media screen and (max-width: 1111px) {
    .currentcom img {
        height:300px;
    margin:10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.currentcom {
    margin:auto;
    padding-left:30px
}
    .modal {
        transform:scale(0.9);
        background-color:rgba(0,0,0,0);
        top:-90px;
        height:100%;
    }
    .prev, .next {

        padding:30px;
        font-size:2em;

    }

    .close {
        font-size:3em;
    }
    img.demo {
        display:none;
    }
    .menu-pics {
        display:none;
    }
    .column img, .column {
    }
    .close {
        top:70px;
        right:50px;
    }
    
    
}
@media screen and (max-width: 1044px) {
    .modal img {
        max-width:700px;
    }
    .modal {
        margin:0;
        width:150%;
        left:-25%;
    }
    .column img, .column {
        max-height:100px;
    }
            .close {
            right:300px;
            z-index:9999;
        }

    @media screen and (max-width: 949px) {
        .modal img {
            max-height:500px;
            max-width:600px;
        }

    }
@media screen and (max-width: 750px) {

.currentcom {
    margin:auto;
    padding-left:10px
}
    .modal img {
        max-height:400px;
        max-width:545px;
    }
    .close {
        color:lightgray;
        right:200px;
    }
    .prev, .next {
        font-size:1em;
        padding:200px 15px;
        margin:0;
        top:0;
    }
}
@media screen and (max-width:600px) {
        .currentcom {
    margin:auto;
    padding-left:40px
}
    .modal img {
        max-height:300px;
        max-width:100%;
    }
    .column img, column {
    max-width:200;
}
    .content {
        padding:5px;
    }
    .prev, .next {
        padding:100px 10px;
        top:25%;
    }
}
@media screen and (max-width:500px) {

    .modal {
        left:-20%;
        top:0;
        width:140%;
    }
    .close {
        right:85px;
    }
}
@media screen and (max-width: 413px) {
    .currentcom img {
        height:250px;
    }   
    .currentcom {
    margin:auto;
    padding-left:15px
}
    .column img, column {
        max-width:50px;
    }
    .modal {
        margin-left:0px;
    }
    
    
    
}
